.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.keyComponentStyle{
  background-color: burlywood;
  position: relative;
  bottom: 10px;
}

.keysData{
  position: relative;
  left: 300px;
  width: 500px;
}
.keyImage{
  width: 400px;
  border-radius: 20px;
}
.card-body{
  color: #282c34;
}
.card-header{
  color: #282c34;
}
.cardStyleById{
  width: 1150px;
  position: absolute;
  overflow: visible;
}
.filterCarsStyle{
  position: relative;
  width: 400px;
  z-index: 5;
}
.signUpStyle{
  position: relative;
  width: 300px;
  height: 250px;
  left: 300px;
}
.signUpStyleHeader{
  font-style: italic;
  font-size: 20px;
}
.signUpBtn{
  float: right;
}
.editAndRemoveBtn{
  float:right;
}
.aaa{
  position: relative;
  float: right;
  right: -420px;
}
.descriptionStyle{
  position: relative;
  top: -420px;
  left: 420px;
}
.cardStyle{
  position: relative;
}
.profileStyle{
  position: relative;
  left: 300px;
}
#filterButton{
  float: right;
  width: 150px;
}
.filteredKeysByCar{
  position: relative;
  right: 600px;
}

.keyStoreLogoImg{
  position: relative;
  width: 200px;
  height: 70px;
}
.userProfileIcon{
  position: relative;
  width: 50px;
  height: 20px;
}
.keyImg{
  position: relative;
  width: 50px;
  height: 50px;
}
.signUpHeader{
  color: black;
}
.btnSignUp{
  position: relative;
  float: right;
}
#btnEdit{
    float: right;
    width: 100px;
    height: 30px;
}
#profileStyle{
    height: 30px;
}
#profileFont{
    font-size: 20px;
}
.car_keychains_image{
  border: 1px solid #ddd;
  border-radius: 4%;
  padding: 5px;
  width: 450px;
}
.car_keys{
  border: 1px solid #ddd;
  border-radius: 4%;
  padding: 5px;
  width: 450px;
  height: 290px;
}
.car_keychains_image_side{
  border: 1px solid #ddd;
  border-radius: 4%;
  padding: 5px;
  width: 350px;
  height: 230px;
}
.car_keys_side{
  border: 1px solid #ddd;
  border-radius: 4%;
  padding: 5px;
  width: 350px;
  height: 220px;
}
.rightSidebar{
  padding: 6px 8px 6px 16px;
  height: 100%;
  position: fixed;
  margin-left: 840px;
  margin-top:-170px;

}
